body {
	font-family: "Nunito", sans-serif;
	background-color: white;
}

.navbar.scrolled {
	background: rgba(87, 10, 117, 0.795);
	transition: background 1s;
}

.blurb2 {
	color: #dc2554;
	font-weight: 100;
	font-size: 1.5rem;
}

.blurb {
	color: #6c3a60;
	font-weight: 100;
	font-size: 1.125rem;
}

.content {
	margin-top: 90px;
	margin-bottom: 50px;
}

/* NAVBAR */
#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: #e9a7b8;
}

#mainNavbar .nav-link:hover {
	color: rgb(236, 16, 178);
}

#mainNavbar .navbar-brand {
	color: #e9a7b8;
	font-size: 1.5rem;
	font-weight: 400;
}

.headingGroup h2, h1{
	color: #6c3a60;
	font-weight: 100;
	font-size: 3rem;
}

footer {
	background: rgba(87, 10, 117, 0.795);
	color: #f1eaed;
}

footer a {
	color: #fcfcfc;
}

footer a:hover {
	color: #f70067;
}

.list-group-item-mine {
	background-color: #f1f9fb;
	border-top: 1px solid #0091b5;
	border-left-color: #fff;
	border-right-color: #fff;
}.

.iconLoli  {
	width: 50px; 
	height: 50px;
	font-weight: 100;
	font-size: 0.5rem;
}

#skills ul{
	background:  rgb(255, 255, 255);
}

.picture {
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.30);
}

li {
    transition: all ease 500ms;
}
li:hover{
    transform: scale(1.75);
	opacity: 0.9;
	color: rgba(87, 10, 117, 0.795);
}